/* Styling for centering the main div and media queries for mobile first based development
    mobile should force to landscape orientation
    browsers should easily be able to be resized with gameplay staying centered
    main gameplay div will need an exact width and height
        I need to figure out that number as that will be pretty important

h1 tag for title & Main Menu screen should be text-aligend center
h6 tag for elems on main menu screen should be text-aligend center

all elements on each type of screen will need to be set to their specific location in the gameplay screen 

how do I want to handle animations?
    static animation vs battle action animation
    static = probably JS with some random activity that bounds back to center fairly quickly (small movements and at random intervals)
    battle action = probably JS too




*/

/* INDEX:

Full page CSS rules

Title Screen CSS rules

Main Menu CSS rules

Options Page CSS rules

Opening Story Screen CSS rules

First Battle Screen CSS rules

Second Battle Screen CSS rules

Third Battle Screen CSS rules

World Map Screen CSS rules

Closing Story Screen CSS rules

Credits CSS rules

Media Query CSS rules 






SOURCES/CREDITS:

cursor image Dot.cur taken from: http://www.rw-designer.com/cursor-library




*/


/* Full page CSS rules --------------------------------------------------------------------------------------- */


* {
    margin: 0 auto;
    cursor: url(img/Dot.cur), default;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 800px;
}

.gameplayArea {
    border: white 1px solid;
    height: 318px;
    width: 636px;
    background-color: rgb(116, 109, 109);
}

.mobileLandscapeRecomendation {
    display: none;
    color: white;
    position: absolute;
    top: 50px;
}

/* Title Page CSS rules --------------------------------------------------------------------------------------- */


.titleScreen {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.titleImg {
    position: relative;
}

.titleImg img {
    position: absolute;
}

.title {
    font-size: 150px;
    position: absolute;
    left: 90px;
    top: 30px;
}

.clickAnywhere {
    text-align: center;
    cursor: pointer;
    left: 233px;
    bottom: 40px;
    position: absolute;
    font-style: italic;
}


/* Main Menu CSS rules --------------------------------------------------------------------------------------- */


.mainMenu {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    color: rgb(172, 169, 169);
}

.titleMenu {
    font-size: 100px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 110px;
    color: black;
}

.playButton {
    text-align: center;
    cursor: pointer;
    max-width: 92px;
    margin: 4px auto;
    color: rgb(172, 169, 169);
}

.optionsButton {
    text-align: center;
    cursor: pointer;
    max-width: 72px;
    margin: 4px auto;
    color: rgb(172, 169, 169);
}

.instructionsButton {
    text-align: center;
    cursor: pointer;
    max-width: 120px;
    margin: 4px auto;
    color: rgb(172, 169, 169);
}


/* Options Page CSS rules --------------------------------------------------------------------------------------- */

.optionsMenu {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
}

.optionsTitle {
    font-size: xx-large;
    color: black;
    margin-left: 18px;
    line-height: 48px;
}

.audioIntro {
    display: none;
}

.musicAudio {
    /* color: white; */
    display: flex;
    margin-top: 23px;
    flex-direction: column;
    text-align: center;
}

.musicMuteButton {
    cursor: pointer;
    color: rgb(172, 169, 169);
}

.sfxAudio {
    /* color: white; */
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    text-align: center;
}

.sfxMuteButton {
    cursor: pointer;
    color: rgb(172, 169, 169);
}

.sfxPlayButton {
    cursor: pointer;
    color: rgb(172, 169, 169);
}

.returnButtonOptions {
    color: rgb(172, 169, 169);
    cursor: pointer;
    position: absolute;
    right: 18px;
    bottom: 20px;
}


/* Instructions Screen CSS rules --------------------------------------------------------------------------------------- */

.instructionsScreen, .instructionsScreenTwo {
    display: none;
    /* margin: 0 10px; */
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
}

h1 {
    margin: 5px;
    margin-top: 0px;
}

.winInstructions {
    margin-top: 20px;
}

ul {
    padding-inline-start: 24px;
}

.proceedInstructions {
    color: rgb(172, 169, 169);
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 20px;
}

.returnButtonInstructions {
    color: rgb(172, 169, 169);
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 20px;
}



/* Opening Story ScreenCSS rules --------------------------------------------------------------------------------------- */


.openingStory {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.openingHero {
    color: white;
    font-size: x-large;
    left: 300px;
    position: absolute;
    top: 100px;
}
/* .openingStoryImg {
    max-height: 200px;
} */

.openingStoryTextbox {
    border: 2px solid lightgray;
    height: 25%;
    max-width: 99%;
    max-height: 200px;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    cursor: pointer;
}

.openingStoryClick {
    text-align: center;
    margin: 5px;
    cursor: pointer;
    font-style: italic;
}


/* First Battle Screen CSS rules --------------------------------------------------------------------------------------- */

/* INDEX:

MAIN

ENEMY STATS BOX

ENEMY IMG CONTAINER

HERO IMG CONTAINER

HERO STATS

ACTIONS BOX */




/* MAIN */

.firstBattleScreen {
    display: flex;
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.secondBattleScreen {
    display: flex;
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

/* ENEMY STATS BOX */

.enemyStats {
    border: 2px gray solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 245px;
    height: 60px;
    flex: none;
    margin: 0;
    border-top: none;
    border-left: none
}

.break {
    flex-basis: 100%;
    height: 0;
}

.enemyName {
    margin: 2px;
    font-weight: bold;
    margin-left: -3px;
}

.enemyHP {
    margin: 2px;
}

.enemySP {
    margin: 2px;
}

.enemySP2 {
    margin: 2px;
    display: none;
}

.enemySP3 {
    margin: 2px;
    display: none;
}

.enemyGrit {
    margin: 2px;
}

/* ENEMY IMG CONTAINER */

.enemyImgContainer {
    position: relative;
}

.enemyImg {
    position: absolute;
    /* height: 70px;
    width: 2px; */
    /* top: 14px;
    was originally just top and left, but I'm rewriting it to be just bottom and left for us in JS
    bottom: 235px; */
    /* left: 224px; */
    border: none;
    background-color: white;
}
.enemyPlaceholder {
    max-height: 100px;
    position: absolute;
    right: 50px;
    top: 10px;
}

.enemyShadow {
    background-color: rgb(36, 34, 34);
    position: absolute;
    transform: rotate(201deg);
    /* width: 4px;
    height: 41px; */
}

.enemyStage {
    position: absolute;
    left: -277px;
    top: 3px;
}

.bashMarks {
    position: absolute;
    left: -275px;
    top: -13px;
    display: none;
}

.brandish {
    display: none;
}

.brandish img {
    position: absolute;
    left: -374px;
    top: -31px;

}

/* HERO IMG CONTAINER */

.heroImgContainer {
    position: relative;
}

.heroImg {
    color: white;
    font-size: 80px;
    position: absolute;
    bottom: 80px;
    left: -270px;
}
.heroPlaceholder {
    max-height: 100px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.heroShadow {
    background-color: rgb(36, 34, 34);
    width: 12px;
    height: 11px;
    border-radius: 20px;
    position: absolute;
    /* declared in JS now
    bottom: 85px;
    right: 254px; */
}

/* Stage includes magnifyingGlass */
.heroStage {
    position: absolute;
    left: -353px
}

.defBlock img {
    position: absolute;
    display: none;
    left: -475px;
    top: -50px;
}

.restZs {
    display: none;
    position: absolute;
    left: -246px;
    /* bottom: 109px; */
    font-weight: bold;
}

.ZOne {
    position: absolute;
    left: 19px;
    bottom: 25px;
    font-size: 10px;
}

.ZTwo {
    position: absolute;
    left: 10px;
    bottom: 13px;
    font-size: 13px;
}

/* .ZThree {} */

.stabMarkContainer {
    position: absolute;
    bottom: 80px;
    left: -262px;
    border: 1px solid black;
    transform: rotate(45deg);
    display: none;
}

.stabMark {
    font-size: 43px;
    background-color: white;
    width: 3px;
    height: 44px;
}



/* HERO STATS */

.heroStats {
    border: 2px gray solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 245px;
    height: 60px;
    float: right;
    /* align-self: flex-end; */
    flex: none;
    margin: 0;
    align-self: flex-end;
    margin-bottom: 54px;
    border-bottom: none;
    border-right: none
}

.heroName {
    margin: 2px 10px;
    font-weight: bold;
}

.heroHP {
    margin: 2px;
}

.heroSP {
    margin: 2px;
}

.heroGrit {
    margin: 2px;
}

.heroLevel {
    margin: 2px;
}



/* ACTIONS BOX */

.actionsBox {
    color: rgb(172, 169, 169);
    border: 2px gray solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 99.5%;
    height: 50px;
    /* flex-direction: column; */
    align-self: flex-end;
    flex: none;
    /* order: -1; */
    /* justify-self: flex-start; */
    position: absolute;
    background-color: rgb(66, 63, 63);
}

.action1 {
    margin: 2px;
    margin-left: 4px;
    cursor: pointer;
}

.action2 {
    margin: 2px;
    margin-left: 12px;
    /* cursor: pointer; */
    color: rgb(38, 34, 34);
    position: relative;
}

.action2Span {
    transition-delay: .35s;
    position: absolute;
    visibility: hidden;
    bottom: 31px;
    color: black;
    text-shadow: -1px -1px 0 rgb(128, 126, 126), 1px -1px 0 rgb(128, 126, 126), -1px 1px 0 rgb(128, 126, 126), 1px 1px 0 rgb(128, 126, 126), 0 -1px 0 rgb(128, 126, 126);
}

.action2:hover .soulRestricted {
    visibility: visible;
    /* opacity: 1; */
}

.action3 {
    margin: 2px;
    margin-right: 57px;
    cursor: pointer;
}

.action4 {
    margin: 2px;
    cursor: pointer;
}

/* .action5 {
    margin: 2px;
    cursor: pointer;
} */
.action5 {
    margin: 2px;
    margin-left: 12px;
    /* cursor: pointer; */
    color: rgb(38, 34, 34);
    position: relative;
}

.action5Span {
    transition-delay: .35s;
    position: absolute;
    visibility: hidden;
    bottom: 31px;
    color: black;
    text-shadow: -1px -1px 0 rgb(128, 126, 126), 1px -1px 0 rgb(128, 126, 126), -1px 1px 0 rgb(128, 126, 126), 1px 1px 0 rgb(128, 126, 126), 0 -1px 0 rgb(128, 126, 126);
}

.action5:hover .soulRestricted {
    visibility: visible;
    /* opacity: 1; */
}

.action6 {
    margin: 2px;
    cursor: pointer;
}


/* PROMPT BOX */

.promptBox {
    border: 2px gray solid;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    width: 99.5%;
    height: 50px;
    /* flex-direction: column; */
    align-self: flex-end;
    flex: none;
    /* order: -1; */
    /* justify-self: flex-start; */
    position: absolute;
    background-color: rgb(66, 63, 63);
    cursor: pointer;
}

.promptBoxText {
    text-align: center;
    color: black;
    cursor: pointer;
}

.promptBoxClick {
    text-align: center;
    font-style: italic;
    margin-top: 9px;
    cursor: pointer;
}


/* Second Battle Screen CSS rules --------------------------------------------------------------------------------------- */






.enemyTwoImg {
    position: absolute;
    height: 0px;
    width: 0px;
    border-bottom: solid white;
    border-right: solid transparent;
    border-left: solid transparent;
    /* top: 10px;
    left: 176px; */
}

.enemyTwoShadow {
    /* background-color: rgb(36, 34, 34); */
    /* width: 0px;
    height: 0px; */
    /* border-radius: 20px; */
    position: absolute;
    transform: rotate(180deg);
    /* background: none; */
    /* these two are from the original enemyShadow for enemyOne declared in JS now
    bottom: 85px;
    right: 254px; */
}





/* Third Battle Screen CSS rules --------------------------------------------------------------------------------------- */




/* World Map Screen CSS rules --------------------------------------------------------------------------------------- */




/* Closing Story Screen CSS rules --------------------------------------------------------------------------------------- */

.closingStory {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.closingStoryTextbox {
    border: 2px solid lightgray;
    height: 25%;
    max-width: 99%;
    max-height: 200px;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    cursor: pointer;
    bottom: 0px;
}

.closingStoryClick {
    text-align: center;
    margin: 15px;
    cursor: pointer;
}



/* Credits Page CSS rules --------------------------------------------------------------------------------------- */

.creditsScreen {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
}

.creditsTitle {
    font-size: 150px;
    text-align: center;
    margin-bottom: -16px;
    color: #bdbcbc;
}

.creditsCreator {
    text-align: center;
    margin-bottom: -9px;
}

.creditsAudio {
    margin: 5px;
}

.creditsCode {
    margin: 5px;
}

.returnMainMenu {
    color: rgb(172, 169, 169);
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
}


/* Lose Screen CSS rules --------------------------------------------------------------------------------------- */

.loseScreen {
    display: none;
    background-color: rgb(66, 63, 63);
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.loseHead {
    line-height: 66px;
}

.loseText {
    margin-top: 100px;
}

.returnMainMenuLose {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
}




/* Media Query CSS rules --------------------------------------------------------------------------------------- */


@media screen and (max-width: 500px) and (orientation: portrait) {
    .mobileLandscapeRecomendation {
        display: block;
    }
}